@font-face {
  font-family: "iconfont"; /* Project id 3743584 */
  src: url('iconfont.woff2?t=1667313872781') format('woff2'),
       url('iconfont.woff?t=1667313872781') format('woff'),
       url('iconfont.ttf?t=1667313872781') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jia:before {
  content: "\e602";
}

.icon-yiwen:before {
  content: "\e600";
}

.icon-fenxiang1:before {
  content: "\e601";
}

.icon-quxiao:before {
  content: "\e60f";
}

.icon-pinglun:before {
  content: "\e8b4";
}

.icon-pinglun1:before {
  content: "\e8c5";
}

.icon-fenxiang:before {
  content: "\e8b0";
}

.icon-dianzan:before {
  content: "\e8ad";
}

.icon-dianzan1:before {
  content: "\e8c3";
}

.icon-sousuo:before {
  content: "\e8b9";
}

