<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.order.mapper.StuCouCarMapper">



    <select id="findCouCar" resultType="entity.CouCarDTO">
        SELECT  scc.id,scc.stu_id,c.*,scc.add_time
        FROM stu_cou_car scc
                 LEFT JOIN course c
                           ON c.cou_id=scc.cou_id
            ${ew.customSqlSegment}
    </select>

</mapper>