<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.information.mapper.InformationMapper">

    <select id="infoUserPage" resultType="entity.infoUserDTO">
        SELECT  c.*,u.truename,u.avatar
        FROM information c
                 LEFT JOIN user u
                           ON c.u_id=u.id
            ${ew.customSqlSegment}
    </select>
</mapper>