<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.student.mapper.StudentMapper">

    <select id="selectstuClassPage" resultType="entity.stuClass">
        SELECT  c.class_name,c.tea_id,c.class_student_num,s.stu_name,s.stu_study_time,s.stu_score
        ,sc.join_date,s.stu_id,c.class_id,sc.id,c.deleted
        FROM stu_class sc
                 LEFT JOIN student s
                      ON sc.stu_id=s.stu_id
                            LEFT JOIN class c
                                 ON sc.class_id=c.class_id
                                      LEFT JOIN user u
                                                ON s.stu_id=u.stu_id ${ew.customSqlSegment}
    </select>
</mapper>