<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.chapter.mapper.CouChaAppraiseMapper">
    <select id="findStuCouChaApp" resultType="entity.StuChaCouAppDTO">
        SELECT cca.*,u.truename,u.avatar
        FROM course_chapter_appraise cca
                 LEFT JOIN user u
                           ON u.stu_id=cca.stu_id
            ${ew.customSqlSegment}
    </select>
</mapper>